:root {
  --primary-color: #0a1118;
  --primary-color-highlight: #233d54;
  --bs-body-bg: #f5f7fb;
  --bs-body-font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-black {
  background-color: var(--primary-color);
}

#preloader {
  background: url("https://i.giphy.com/ycfHiJV6WZnQDFjSWH.webp") no-repeat
    center center;
  background-size: 20%;
}

.divider {
  height: 5px;
  background-image: radial-gradient(
    circle at center,
    #8399a6,
    #ebebeb,
    #c8d9c1
  );
}

a {
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color);
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/*
  * Custom Container
  */
.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-custom {
    width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container-custom {
    width: 1520px;
  }
}

/*
  * Main Header
  */
.header {
  z-index: 2;
}

/*
  * Flyout Navigation Bar
  */
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-body-bg);
  z-index: 4;
}

.dropdown-nav__closeNavBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: var(--bs-body-bg);
}

.dropdown-nav__container {
  height: 100vh;
  padding: 0 1rem;
}

#navbar.show + #to-top {
  z-index: 0;
}
/*
  * Hero Section
  */
.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

@media (min-width: 1400px) {
  .hero__heading {
    font-size: 3.2rem;
  }
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  z-index: 1;
}

.hero__content {
  z-index: 1;
}

.hero__content-width {
  max-width: 540px;
}

.hero__scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.hero__scroll-btn:hover {
  color: var(--bs-light);
  opacity: 0.8;
}

.hero__scroll-btn .bi {
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

/*
  * Steps Section
  */
.steps {
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps__section-thumbnail {
  height: 240px;
  object-fit: cover;
  margin: 0 auto;
}

.steps__content-width {
  max-width: 456px;
  margin: 0 auto;
}

.steps--background {
  background-color: #fef8f9;
}

@media (min-width: 544px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .steps__section-thumbnail {
    height: auto;
  }
}

/*
  * History Section
  */
.china {
  background-image: radial-gradient(
    circle at center,
    #ffb304,
    #be3f2e,
    #aa391c
  );
  background-size: 2%;
  background-clip: text;
  color: transparent;
}

.japan {
  background-image: radial-gradient(circle at center, #b12d3d, #ffffff);
  background-size: 85%;
  background-clip: text;
  color: transparent;
}

.europe {
  background-image: radial-gradient(circle at center, #003399, #ffcc00);
  background-size: 30%;
  background-clip: text;
  color: transparent;
}
#to-top {
  display: none;
  z-index: 1;
}

/*
  * Footer
  */
.footer .border-highlight {
  border-top: 1px solid var(--primary-color-highlight);
}


.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}
#navbar
{
  /*max-height: 100vh;*/
  overflow-y: auto;
}


/* Style for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}















/* POPPINS FONT */
*{
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #ececec;
  padding: 0 20px 0 20px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.side-image{
  background-image: url("../images/loginBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  position: relative;
}
.formLogin{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text p{
  color: #fff;
  font-size: 20px;
}
i{
  font-weight: 400;
  font-size: 15px;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-box{
  width: 330px;
  box-sizing: border-box;
}
.formLogin img{
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.input-box header{
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.input-field{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}
.input{
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}
.input-box .input-field label{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}
.input-field input:focus ~ label
{
  top: -10px;
  font-size: 13px;
}
.input-field input:valid ~ label
{
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
  border-bottom: 1px solid #743ae1;
}
.submitLogin{
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: .4s;
}
.submitLogin:hover{
  background: rgba(100, 116, 133, 0.93);
  color: #fff;
}
.register{
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
span a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: .5s;
}
span a:hover{
  text-decoration: underline;
  color: #000;
}

@media only screen and (max-width: 768px){
  .side-image{
    border-radius: 10px 10px 0 0;
  }
  .formLogin img{
    width: 35px;
    position: absolute;
    top: 20px;
    left: 47%;
  }
  .text{
    position: absolute;
    top: 70%;
    text-align: center;
  }
  .text p, i{
    font-size: 16px;
  }
  .formLogin{
    max-width:420px;
    width: 100%;
  }
}